@charset "utf-8";

a {
	text-decoration: none;
}
a:visited {

}
a:hover {
	text-decoration: none;
}

nav.pure-menu {
	text-align: right;
}
nav.pure-menu ul {
	padding-right: 5%;
}

#membertool {
	text-align: right;
	padding: 0 2rem;
	background-color: hsla(240,0%,80%,0.4);
}
#membertool form {
	display: inline;
}
#membertool .bt {
	margin: 0px 5px;
	font-size: 16px;
	padding: 6px;
	width: 42px;
	height: 31px;
	border: solid 0px hsl(220,0%,30%);
	border-radius: 5px;
}
#membertool .bt:hover{
	cursor: pointer;
	text-decoration: none;
}

hgroup .pure-g {
	vertical-align:middle;
}
#search{
	text-align: center;
	
	padding: 5px 0;
}
#search label{
	margin: 0;
}
#search div {
	height: 100%;
	vertical-align: middle;
}
#search div.pure-g div {
	margin: 5px 0 0 0;
}
#search div.pure-g div.pure-u-1 {
	text-align: left;
}
#search a.pure-button {
	text-align: left;
	color: hsl(180,0%,100%);
}

#insert{
	clear: both;
	padding: 20px;
}
#insert table{
	margin: 0 auto;
	text-align: left;
	border: solid 1px hsl(0,0%,0%);
}
#insert table tr:hover{
	background-color: hsla(0,0%,100%,0.5);
}

#insert table td{
	border: solid 1px hsl(0,0%,0%);
	padding: 4px;
	vertical-align: middle;
}
#insert table input {
	margin: 5px;
}
#insert table select {
	margin: 5px;
}
#insert table input.longInput{
	width: 300px;
}
#insert table input.numInput{
	text-align: right;
	width: 60px;
}
#insert table input.sortInput{
	width: 30px;
}





#result{
	margin: 5px 0;
}
#CT{
	margin: 0 auto;
	width: 100%;
	clear: both;
	overflow: hidden;
}

#chose{
	background-color: hsl(280,80%,90%);
	width: 200px;
	margin: 10px 0px;
	padding: 5px;
	float: left;
	border-radius: 10px;
}
#chose #function{
	text-align: center;
}
#chose fieldset{
	padding: 10px;
	margin: 5px;
	border: 1px double hsl(0,0%,60%) ;
	border-radius: 5px;
}
#chose fieldset legend{
	padding: 5px;
}

#list {
	text-align: center;
	clear: both;
}
#list table {
	margin: 0.5rem auto;
	border: solid 1px hsl(0,0%,0%);
	max-width: 90%;
}
#list table td{
	vertical-align: middle;
}

#list table td{
	border: solid 1px hsl(0,0%,0%);
	padding: 4px;
}

.othe{
	word-wrap:normal;
}

#register {
	margin: 0 auto;
	max-width: 320px;
}
#register fieldset {
	max-width: 100%;
}
#register .pure-control-group {

}
#register .pure-control-group label {
	width: 5rem;
}
#register label.error {
	width: 100%;
	color: hsl(0,80%,60%);
}

footer{
	letter-spacing: 1px;
	font-size: 75%;
	line-height: 150%;
	padding: 10px;
	text-shadow:0px 0px 2px hsla(0,0%,40%,0.4);
	text-align: center;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	#list table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	#list table { max-width: 100%; }
	#list table tr { border: 1px solid #ccc; }
	#list table td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 5rem; 
		min-height: 1rem;
	}
	#list table td:before { 
		position: absolute;
		top: 3px;
		left: 1%;
		width: 25%; 
		padding-right: 10%; 
		white-space: nowrap;
	}
	#list table td:nth-of-type(1):before { content: "通識領域"; }
	#list table td:nth-of-type(2):before { content: "課程名稱"; }
	#list table td:nth-of-type(3):before { content: "必選修"; }
	#list table td:nth-of-type(4):before { content: "學分"; }
	#list table td:nth-of-type(5):before { content: "開課年班"; }
	#list table td:nth-of-type(6):before { content: "教授"; }
	#list table td:nth-of-type(7):before { content: "一"; }
	#list table td:nth-of-type(8):before { content: "二"; }
	#list table td:nth-of-type(9):before { content: "三	"; }
	#list table td:nth-of-type(10):before { content: "四"; }
	#list table td:nth-of-type(11):before { content: "五"; }
	#list table td:nth-of-type(12):before { content: "六"; }
	#list table td:nth-of-type(13):before { content: "日"; }
	#list table td:nth-of-type(14):before { content: "教室"; }
	#list table td:nth-of-type(15):before { content: "已修人數"; }
	#list table td:nth-of-type(16):before { content: "選課限額"; }
	#list table td:nth-of-type(17):before { content: "教學網站"; }
	#list table td:nth-of-type(18):before { content: "教學附件"; }
	#list table td:nth-of-type(19):before { content: "備註"; }
}

