@charset "utf-8";

body{
	background-color: hsla(240,0%,80%,0.1);
}
nav.pure-menu {
	background-color: hsla(200,0%,80%,0.2);
}
nav.pure-menu a {
	color: hsl(200,5%,20%);
}
nav.pure-menu a:hover {
	color: hsl(200,5%,5%);
}
#search{
	background-color: hsla(190,50%,90%,0.2);
}
#result{
	
}
#table table td{
	border: solid 1px hsla(0,0%,0%,1);
}
#chose{
	background-color: hsla(280,80%,90%,0);
	border: 1px double hsla(0,0%,10%,1) ;
}
#chose fieldset{
	border: 1px double hsla(0,0%,60%,1) ;
}

#list table{
	border: solid 1px hsla(0,0%,0%,0);
}
#list table td{
	border: solid 1px hsla(0,0%,0%,0.8);
}
#list table thead {
	background-color: hsla(210,30%,100%,0.9);
}
#list table tbody tr:nth-child(even) {
	background-color: hsla(180,30%,93%,0.9);
}
#list table tbody tr:nth-child(odd) {
	background-color: hsla(210,30%,93%,0.9);
}
#list table tbody tr:hover{
	background-color: hsla(0,0%,100%,0.8);
}


footer {
	background-color: hsla(190,100%,100%,0.8);
	text-shadow:1px 1px 1px hsla(0,0%,40%,0.4);
}
footer a {
	color: hsl(220,80%,40%);
	text-shadow:1px 1px 1px hsla(0,0%,60%,0.5);
}
footer a:hover{
	color: hsl(220,80%,50%);
	text-shadow:1px 2px 1px hsla(0,0%,30%,0.5);
	
}